﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Forgot Password";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Forgot Password | CodingNepal</title>
    <link rel="stylesheet" href="~/login/css/login-style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="wrapper">
        <div class="title-text">
            <div class="title login">Forgot Password</div>
        </div>
        <div class="form-container">
            <div class="form-inner">
                <form method="post" asp-controller="Account" asp-action="ForgotPassword" class="login">
                    <div class="field">
                        <input type="text" placeholder="Email Address" name="email" required>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Reset Password">
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="login-link">Remembered your password? <a href="~/Account/Login">Login here</a></div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/login/js/login.js"></script>
</body>
</html>
