﻿@model List<FPS.BusinessLayer.ViewModel.Account.UserInfo>

@{
    ViewData["Title"] = "GetAllAccount";
}

<h1>List of Accounts</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Status</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model)
            {
                <tr>
                    <td>@account.Name</td>
                    <td>@account.Email</td>
                    <td>@account.Address</td>
                    <td>@account.Status</td>
                    <td>@account.Role</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="@Url.Action("UpdateAccount", "Admin", new { userId = @account.Id })" type="button" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                            <button type="button" class="btn btn-warning">Deactivate</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
