﻿@model FPS.BusinessLayer.ViewModel.Account.UserInfo

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Update Account</title>
    <!-- Include CSS và các thư viện cần thiết -->
</head>
<body>
    <h2>Update Account</h2>

    <form id="updateAccountForm" method="post">
        <input type="hidden" id="userId" name="userId" value="@Model.Id" />

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" value="@Model.Name" required />
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" value="@Model.Email" required />
        </div>

        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" class="form-control" id="address" name="address" value="@Model.Address" required />
        </div>

        <div class="form-group">
            <label for="status">Status:</label>
            <select class="form-control" id="status" name="status" required>
                <option value="0" selected="@(Model.Status == false ? "selected" : null)">Inactive</option>
                <option value="1" selected="@(Model.Status == true ? "selected" : null)">Active</option>
            </select>
        </div>

        <div class="form-group">
            <label for="role">Role:</label>
            <select class="form-control" id="role" name="role" required>
                <option value="Admin" selected="@(Model.Role == "Admin" ? "selected" : null)">Admin</option>
                <option value="User" selected="@(Model.Role == "User" ? "selected" : null)">User</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</body>
</html>
