﻿
#updateAccountForm {
    margin: 50px; /* Khoảng cách ngoài cùng của form */
}

.form-group {
    margin-bottom: 20px; /* Khoảng cách giữa các nhóm input */
}

label {
    margin-bottom: 5px; /* Khoảng cách giữa nhãn và input */
}

input,
select {
    padding: 10px; /* Khoảng cách bên trong các input và select */
    width: 100%; /* Đảm bảo input và select chiếm toàn bộ chiều rộng của form-group */
}

button[type="submit"] {
    margin-top: 20px; /* Khoảng cách giữa nút submit và các input trên */
}body {
}
